<center>
	<div class="splash-container">
		<div class="splash">
			<div class="splash-head">
				<h1>StoryTime</h1>
				<h2>Bedtime stories by text.</h2>
			</div>
				<div class="row">
				    <%= form_for(@user, class: "pure-form") do |f| %>

				      <%= f.telephone_field :phone_number, :placeholder => "Cell Phone Number",class: "phone" %>

				      <%= f.submit "Start Your Story", class: "pure-button" %>
				    <% end %>
			
				</div>
		</div>
	</div>
	<div class="content-wrapper">
		<div class="content-head is-center">More about StoryTime</div>
		<div class="content-body is-center">
		StoryTime sends parents nightly text messages of bedtime stories and related activities for face-to-face fun and learning.<br> Share a better just-before-bedtime.
		</div>

	</div>
</center>


