<center>
<h1>The story begins...</h1>
You will receive your first story at <%= @user.time %>. Included are a story and activity for your child's age group.
<br>
<br>
Happy Reading!
<br>
<br>
<%= link_to "Return to Home Page", root_path %>
</center>